<!doctype html>
<html lang="en">
    <head>
        <title>Document</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    {% block content %}
    <body>
        <div class="nav-container">
            <a class="nav-page">0</a>
            <a class="nav-page">1</a>
            <a class="nav-page">2</a>
            <a class="nav-page">3</a>
            <div></div>
            <a class="nav-page">4</a>
            <a class="nav-page">5</a>
            <a class="nav-page">6</a> 
        </div>
        <div class="filler">filler</div>
        <div class="content-container"></div>
        <footer>:(</footer>
    </body>
    {% endblock %}
</html>